@model AllianceBankMVC_bmiles.Models.Loan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoanName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
